<!-- _includes/header.html -->
<header>
    <nav>
        <div class="logo">
            <img src="{{ '/logo_color.svg' | relative_url }}" alt="Logo" width="150" height="150">
        </div>
        <h1 class="site-title">DataNova Consulting</h1>
        <ul>
            <li><a href="{{ '/' | relative_url }}" class="nav-link" id="home-link">Home</a></li>
            <li><a href="{{ '/about.html' | relative_url }}" class="nav-link" id="about-link">About</a></li>
            <li><a href="{{ '/services.html' | relative_url }}" class="nav-link" id="services-link">Services</a></li>
            <li><a href="{{ '/portfolio.html' | relative_url }}" class="nav-link" id="portfolio-link">Portfolio</a></li>
            <li><a href="{{ '/contact.html' | relative_url }}" class="nav-link" id="contact-link">Contact</a></li>
        </ul>
    </nav>
</header>